[submodule "kafka-demos"]
	path = spring-kafka-demos
	url = git@github.com:abhilashRupa/spring-kafka-demos.git
[submodule "kafka-exercises"]
	path = spring-kafka-exercises
	url = git@github.com:abhilashRupa/spring-kafka-exercises.git
